.font-1-xs {
  font: 400 0.875rem/1.35 "Roboto", sans-serif;
  color: #725c5c;
}
.font-1-xs-b {
  font: 700 0.875rem/1.35 "Roboto", sans-serif;
  color: #ed7839;
}
.font-2-xs {
  font: 400 0.875rem/1.35 "Quicksand", sans-serif;
  color: #725c5c;
}

.font-3-s {
  font: 400 0.8rem/1.35 "Quicksand", sans-serif;
  color: #333333;
}
.font-1-name {
  font: 500 0.8rem/1.35 "Quicksand", sans-serif;
  color: #5c5c5c;
}
.font-1-name-b {
  font: 700 0.8rem/1.35 "Quicksand", sans-serif;
  color: #5c5c5c;
}
.font-1-autor {
  font: 700 0.8rem/1.35 "Quicksand", sans-serif;
  color: #5c5c5c;
}
.font-3-xs {
  font: 400 0.9rem/1.35 "Quicksand", sans-serif;
  color: #333333;
}
.font-1-m {
  font: 900 1.25rem/1.35 "Roboto", sans-serif;
  color: #ed7839;
  letter-spacing: 0.05em;
}

.font-2-m {
  font: 400 1.375rem/1.35 "Roboto", sans-serif;
  color: #725c5c;
}
.font-3-m-b {
  font: 700 1.875rem/1.35 "Roboto", sans-serif;
  color: #ffffff;
}
.font-4-t {
  font: 500 0.875rem/1.5625 "Roboto", sans-serif;
  color: #ed7839;
  text-transform: uppercase;
  text-align: right;
  margin-top: 12px;
  letter-spacing: 0.05em;
}

.card-tipografia {
  font-family: "Quicksand";
  font-weight: 400;
  font-size: 12px;
  line-height: 16.8px;
  letter-spacing: 0.02em;
  color: #5c5c5c;
  line-height: 180%;
}
.resumo-tipografia {
  height: calc(114px + 15px);
  white-space: nowrap;
  max-width: 1058px;
}
.tipografia {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 0.02em;
  color: #5c5c5c;
  max-width: calc(1058px - 30px);
  padding: 15px 15px;
  display: block;
}
.tipografia-ans {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #4d4d4d;
  max-width: calc(1058px - 30px);
  padding: 15px 15px;
  display: block;
}
@media (max-width: 800px) {
  .title-discussao {
    font-size: 14px;
  }
}

.button-enviar-topico {
  font: 700 0.9rem/1.35 "Quicksand";
  color: #ffffff;
}
.title-discussao {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #ed7839;
}
.text-discussao {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #595959;
}
.orange {
  color: #ed7839;
  text-decoration-line: underline;
}
.topico-titulo {
  font: 700 1rem/1.35 "Roboto", sans-serif;
  color: #ed7839;
}
.feedback-button {
  font: 700 1rem/1.35 "Quicksand", sans-serif;
}
.topico-duvida {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #5c5c5c;
  display: flex;
  justify-content: center;
  text-align: center;
}
