html,
h1,
h2,
h3,
li,
ul,
body,
nav,
p {
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;

  font-weight: inherit;
  color: inherit;
}
a:active {
  color: inherit;
  text-decoration: none;
}
button {
  border: none;
  cursor: pointer;
}
button:hover {
  filter: contrast(200%);
  color: #fff;
}
img {
  max-width: 100%;
  display: block;
}
