.header {
  display: flex;
  max-width: 100%;
  height: clamp(68px, 68px, auto);
  background-color: #fdf1eb;
  padding-left: 44px;
  align-items: center;
}

.header-language {
  padding-left: 32px;
}
.header-language button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0);
  border: 1px solid rgba(204, 204, 204, 1);
  width: 97px;
  height: 34px;
  position: relative;
  margin-left: 46px;
}
.header-language button::before {
  content: "";
  background: url(../../icons/language_image.png);
  height: 22px;
  width: 21px;
  position: absolute;
  left: 9px;
}
.header-language button::after {
  content: "";
  background: url(../../icons/dropdown.svg) no-repeat;
  height: 9px;
  width: 9px;
  position: absolute;
  right: 14px;
  top: 14px;
}
.header-login {
  display: flex;
  margin-left: 20px;
  text-align: right;
}
.header-login-img,
.header-login-img img {
  margin-left: 10px;
  border-radius: 50%;
  width: 30.3px;
  height: 30.63px;
  object-fit: cover;
  position: relative;
  z-index: 1;
}
.header-login-img::after {
  content: "2";
  position: absolute;
  background: #f85959;
  color: #ffffff;
  width: 12px;
  height: 12px;
  border-radius: 10px;
  z-index: 9999;
  font-size: 12px;
  top: 0;
  right: -13px;
  text-align: center;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 800px) {
  .header {
    padding-top: 5px;
    display: block;
    grid-template-rows: 2;
    padding-left: 10px;
    text-align: center;
  }
  .header-login {
    flex-direction: column-reverse;
    text-align: left;
    padding-top: 10px;
  }
  .header-login-img {
    margin-left: -10px;
  }

  .header-language {
    display: none;
  }
}
