body {
  padding-bottom: 1000px;
}
@media (max-width: 900px) {
  .resumo {
    width: 50%;
  }
  .resumo .h3titulo {
    width: calc(100% - 4%);
  }
}
.h3titulo {
  display: flex;
  width: calc(1058px - 15px);
  align-items: center;
  height: 45px;
  background: #fdf1eb;
  border-bottom: 1px solid #ececec;
  border-radius: 3px 3px 0px 0px;
  padding-left: 15px;
  padding-left: 15px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #4e4e4e;
}
.toggleShow {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 152.34%;
  letter-spacing: 0.02em;
  color: #ed7839;
}
